/* Общие шрифты Rofi */

/***** Размер основного шрифта *****/
configuration {
  font: "MonaspiceNe Nerd Font SemiBold 14";
}


/***** Размер шрифта элементов *****/
element-text {
  font: "MonaspiceNe Nerd Font SemiBold 13";
}
