/* Dotfiles */  
 /* wallust template - colors-waybar */

 @define-color foreground #343634;
 @define-color background #BEC2BE;
 @define-color background-alt rgba(190,194,190,0.25);
 @define-color cursor #212C21;
 
 @define-color color0 #A3A7A3;
 @define-color color1 #000100;
 @define-color color2 #0A190A;
 @define-color color3 #134314;
 @define-color color4 #185819;
 @define-color color5 #185819;
 @define-color color6 #565B56;
 @define-color color7 #343634;
 @define-color color8 #081308;
 @define-color color9 #000200;
 @define-color color10 #0D210D;
 @define-color color11 #1A591A;
 @define-color color12 #207521;
 @define-color color13 #207521;
 @define-color color14 #737973;
 @define-color color15 #111211; 